/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url('https://media.istockphoto.com/id/166399771/vector/racing-background.jpg?s=612x612&w=0&k=20&c=Dbb1cXaNZZeqBCT9_DYazHyTja_sIxFcRozrP9IjNW0=');
    background-size: cover;
    background-repeat: repeat-y;
}

h1 {
    margin-top: 0;
}

input[type="text"] {
    width: 80%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    text-align: left;
}
